<div class="container-fluid px-0">

  <!--HEADER***********COMPONENT-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark grey darken-2 fixed-top scrolling-navbar">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="">NOS</a></mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <!-- TOURNAMENT DROPDOWN -->
        <li class="nav-item dropdown mr-3" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle" mdbWavesEffect>
          Tournaments<span class="caret ml-1"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>
        <!-- NEWS DROPDOWN -->
        <li class="nav-item dropdown mr-3" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          News<span class="caret ml-1"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">PubG</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Clash Royale</a>
          </div>
        </li>
        <!-- STATISTICS DROPDOWN -->
        <li class="nav-item dropdown mr-3" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Statistics<span class="caret ml-1"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>            
      </ul>
    <!-- Links -->
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
  <!--/.Navbar-->


  <!-- CAROUSAL**********COMP -->
  <div class="row my-carousel mx-0 padding-fix">
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
            </div>
        </mdb-carousel-item>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
                <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Strong mask</h3>
                <p>Secondary text</p>
            </div>
        </mdb-carousel-item>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-carousel-item>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </div>
  <!-- ./row END -->

  <div class="row px-5 m-0 w-100 my-card-deck">
    <div class="card-deck mx-auto">
      <!-- 1st CARD -->
      <div class="card my-3">
        <div class="view w-100 h-100">
          <img class="card-img" src="../assets/Images/NewUpdate-Banner.jpg" alt="Popular Tournaments">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="card-img-overlay text-center p-0">
          <div class="card-footer bg-white border-none w-100 align-middle">
            <h5 class="card-title m-0">Popular Tournaments</h5>
          </div>
        </div>
      </div>
      
      <!-- 2nd CARD -->
      <div class="card my-3">
        <div class="view w-100 h-100">
          <img class="card-img" src="../assets/Images/NewUpdate-Banner.jpg" alt="Popular Tournaments">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="card-img-overlay text-center p-0">
          <div class="card-footer bg-white border-none w-100 align-middle">
            <h5 class="card-title m-0">Popular Tournaments</h5>
          </div>
        </div>
      </div>
      <!-- 3RD CARD -->
      <div class="card my-3">
        <div class="view w-100 h-100">
          <img class="card-img" src="../assets/Images/NewUpdate-Banner.jpg" alt="Popular Tournaments">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="card-img-overlay text-center p-0">
          <div class="card-footer bg-white border-none w-100 align-middle">
            <h5 class="card-title m-0">Popular Tournaments</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>